#main{
    background-image: url("../image/car.jpg");
    background-size: 81%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: darkgrey;
    color: white;
    height: 50vw;
 }

 .container{
     width: 100%;
     background-color: darkgrey;
 }

section{
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 5px;
}

.header h2{
    margin-left: 15%;
    color: white;
}

.header p{
    margin-left: 15%;
    color: white;
}

.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .halfsize{
      width: 49%;
  }

  .rightside{
      float: right;
  }

  .inner_h2{
      color: #9B111E;
  }
