body{
    background-image: url("../image/snake_bg5.png");
}

#main{
    background-image: url("../image/car.jpg");
    background-size: 81%;
    background-repeat: no-repeat;
    background-position: top;
    color: white;
    height: 50vw;
 }

 .container{
     width: 100%;
 }

section{
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 25px;
    box-shadow: 10px 10px #C83213;
}

.header h2{
    color: white;
}

.header p{
    color: white;
}

#headerdiv{
    width: 500px;
    margin-left: 10%;
}

.halfwidthvw{
    width: 38vw;
}

.halfwidth{
    width: 49%;
}

.halfheight{
    height: 60vh;
}

.fullsize{
    width: 98%;
    height: 100%;
}

.height70{
    height: 70vh;
}

.quartersize{
    width: 24%;
}

.rightside{
    float: right;
}

.inner_h2{
    color: #9B111E;
}

.sideimg{
    width: 100%;
    height: 100%;
}

p{
    font-size: large;
}

.img {
    border-radius: 100%;
    height: 150px;
    width: 150px;
}

#profilediv{
    width: 150px;
    position: absolute;
    top: 25px;
    margin-left: 78%;
}

.upgrade li{
    text-shadow: 2px 2px 8px #9B111E;
}

.bigli{
    font-size: larger;
    font-weight: bold;
}

.smallerp{
    font-size: medium;
}