#main{
    background-image: url("../image/car.jpg");
    background-size: 81%;
    background-repeat: no-repeat;
    background-position: top;
    background-color: darkgrey;
    color: white;
    height: 50vw;
 }

 .container{
     width: 100%;
     background-color: darkgrey;
 }

section{
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 5px;
}

.header h2{
    margin-left: 15%;
    color: white;
}

.header p{
    margin-left: 15%;
    color: white;
}